*{margin:0;padding: 0;box-sizing:border-box;}
body {background-color: #fcebb6;} 
header {background-color: #d2b48c; height: 200px}
/*#wrapper{ height: 750px; border: 2px solid red;width: 1450px;overflow: auto;
box-sizing:border-box;}
#navbar{float:left; height:100%;width: 30%;overflow: hidden;list-style-type: none;
background-color: green;
height: 100%;width: 200px; float: left;padding-right: 100px;position: auto;} 





/*.active{ background-color: yellow; color: black;}
*/
 
 /*.sear-form{float:left; margin-top:10px;width: 240px; font-size:15px ;border-radius: 80px;height: 20px }
 input{ width: 300px;height: 20px}
button{width: 300px}
#innerbox{float: right; height: 100%; width:1140px ; border: 3px solid yellow;margin-left:2px;}






*/
#navbar{ height:100%; width :200px; float:left; background-color: green; overflow: hidden;position:absolute ;

list-style-type: none;
background-color: green;
height: 100%;width: 300px; overflow: auto;position:fixed; float: left;}
li a{width: 300px;height:60px; font-size: 25px; display: block; color:white; text-align: center;letter-spacing: 2px; text-decoration: none;padding: 8px 16px;padding-top: }
li a:hover{background-color: black; color: white;}





}
#outerbox{ height: 1500px; border: 2px solid red;overflow: hidden;margin:0;}
#innerbox{
    box-sizing:border-box; 

    height: 100%;

    float: right; height: 70%; width: 80%}
button{width: 60px;float:right;margin: 5px}
input {width: 200px; margin-left: 20px;margin-top:4px;height:20px;}
h1{ text-align: center;font-size: 80px; padding:40px}
h2{text-align: center;font-weight: bold;font-size:40px;padding: 20px}
p{margin: 20px}
h3{padding: 20px}

#foot{font-style: italic;font-weight: small;text-align: center; 
height: 50px;width: 100%

position:bottom;}





















